/* Estilos generales */
:root {
    /*Fuentes*/
    --f_fontSize : 16px;
    --f_fontWeight : 400;
    --f_lineHeight : 1.5 ; /*alto del renglón. Se multiplica el fontSize*alto: 16*1.5: 24px*/
    --f_fontFamily--Secondary: 'Montserrat', sans-serif;

    /*Colores*/
    --c_white: #fff;
    --c_black: #000;

    --c_brown: #753422; 
    --c_earth: #B05B3B;
    --c_earth-secondary: #D79771;
    --c_beige: #FFEBC9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:.5px dotted gray; */
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* h1{ font-size: 2.25rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;} */
h6, p {
    font-size: 1rem;
    max-width: 42ch; /*como máx, cualquier p tendrá 42 caracteres de largo*/
}

h1, h2 {
    color: #333;
}

/* Estilos del header */
/* header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
} */
.Header{
    background-color: var(--c_beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.menu-item{
    list-style-type: none;
}
.menu-item a{
    text-decoration: none;
    color: black;
}


/*Section*/

section {
    padding: 1rem;
}

/*CARDS: Estilos generales*/
.ferias__cards,
.artesanos__cards,
.novedades__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .75rem;
    width: 100%;
    
    border-radius: 1rem ;
}
.card__img img{
    border-radius: .75rem;
}
.card__title{
    color: var(--c_earth);
    font-size: 1.5rem;
    font-weight: 600;
}



/*CARDS: Estilos individuales*/
    /* Ferias */
.sec__ferias{
    background-color: var(--c_earth-secondary);
    color: var(--c_beige);
}
.sec__ferias .card__item{
    border: 2px solid var(--c_beige);
}

    /* Artesanos */
.sec__artesanos{
}
.sec__artesanos a{
    text-decoration: none;
}
.sec__artesanos .card__item{    
    justify-content: center;
    opacity: 0.7;
    height: 15vh;
}
.sec__artesanos .card__item button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
/* .sec__artesanos .card__item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
} */

.sec__artesanos .card__title{
    color: var(--c_white);
    text-shadow: .1rem .1rem .2rem var(--c_black);
    font-size: 1.5rem;
    font-weight: 700;
}

.sec__artesanos .item__1{
    background-image: url(./assets/ceramica.jpg);
    background-size: cover;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.sec__artesanos .item__2{
    background-image: url(./assets/cuero.jpg);
    background-size: cover;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.sec__artesanos .item__3{
    background-image: url(./assets/encuadernacion.jpg);
    background-size: cover;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.sec__artesanos .item__4{
    background-image: url(./assets/indumentaria.jpg);
    background-size: cover;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
.sec__artesanos .item__5{
    background-image: url(./assets/joyeria.jpg);
    background-size: cover;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.sec__artesanos .item__6{
    background-image: url(./assets/tejidos.jpg);
    background-size: cover;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.sec__artesanos .item__7{
    background-image: url(./assets/macrame.jpg);
    background-size: cover;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.sec__artesanos .item__8{
    background-image: url(./assets/madera.jpg);
    background-size: cover;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}


    /* Modal */
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    margin: auto;
    gap: .2rem;

    color: var(--c_earth);
    background-color: var(--c_beige);
    border: 2px solid var(--c_earth);
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: auto;

    opacity: 0;
    z-index: 1;
}
.modal h2{
    color: var(--c_earth);
    font-weight: 600;
}
.modal__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.modal__artesano{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    
}
.modal__title{
    text-align: center;
    border: 2px solid var(--c_earth);
}
.modal__img{
    width: 100%;
    border: 1.5px solid var(--c_earth);
}
.modal__info{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid;
} 
.modal__info ul{
    list-style-type: none;
}
.modal__info img{
    width: 20px;
    height: 20px;
}
.modal__redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border: 1px solid;
}
.modal__redes a{
    z-index: 9999;
}
.modal__close{
    color: var(--c_earth);
    background-color: var(--c_beige);
    border: 1px solid var(--c_earth);
    border-radius: 1rem;
    padding: .5rem 1.3rem;
    align-self: flex-end;

    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

    /* Novedades */
.sec__novedades{}
.sec__novedades .card__item{
    border: 2px solid var(--c_beige);
}

/* Formulario */
form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.sec__sumate button {
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del footer */
.Footer{
    padding: 1rem;
    background-color: var(--c_beige);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    
}
.footer__redes{
    display: flex;
    gap: 2rem;
    
    list-style-type: none;
}




/*Media queries*/
@media screen and (max-width: 480px){ /*Celulares*/
    .sec__artesanos {
        background-color: #1d9b60;
    }
    .artesanos__cards{
        display: inline-flex;
        height: auto;
    }
    .modal{
        width: 80vw;
        height: 60vh;
    }
    .modal__img{
        width: 35%;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) { /*Tablets*/ 
    .sec__artesanos {
        background-color: #6235c9;
    }
    .artesanos__cards {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .sec__artesanos .item__1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .sec__artesanos .item__2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .sec__artesanos .item__3 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .sec__artesanos .item__4 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .sec__artesanos .item__5 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .sec__artesanos .item__6 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .sec__artesanos .item__7 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .sec__artesanos .item__8 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .modal{
        width: 60vw;
        height: 60vh;
    }
    .modal__img{
        width: 35%;
    }
}

@media screen and (min-width: 780px){ /*Computadoras*/
    .sec__artesanos {
        background-color: #007bff;
    }
    .artesanos__cards{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    }
    .modal{
        width: 60vw;
        height: 60vh;
    }
}