<form  method="POST" action="/store" enctype="multipart/form-data">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <br>
    <label for="whatsapp">Whatsapp:</label>
    <input type="text" name="whatsapp" id="whatsapp">
    <br>
    <label for="instagram">Instagram:</label>
    <input type="text" name="instagram" id="instagram">
    <br>
    <label for="facebook">Facebook:</label>
    <input type="text" name="facebook" id="facebook">
    <br>
    <label for="estado">Estado:</label>
    <input type="number" name="estado" id="estado">
    <br>
    <label for="imagen">Imagen:</label>
    <input type="file" name="imagen" id="imagen">
    <br>
    <label for="idCategoria">ID de categoría:</label>
    <input type="number" name="idCategoria" id="idCategoria">
    <br>
    <input type="submit" value="Agregar nuevo artesano">
</form>