{%include 'header.html'%}
<div class="d-flex flex-column w-50 mx-auto p-2">
<table class="table table-light table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>IDCategoría</th>
            <th></th>
            <!-- <th>Categoría</th> -->
        </tr>
    </thead>
    <tbody>
        {%for artesano in artesanos%}
        <tr>
            <td>{{artesano[0]}}</td>
            <td>{{artesano[1]}}</td>
            <td>{{artesano[5]}}</td>
            <td>{{artesano[8]}}</td>
            <td>
                <a href="/modify/{{artesano[0]}}" class="btn btn-secondary">Editar</a>
                <a href="/delete/{{artesano[0]}}" class="btn btn-danger">Borrar</a>
            </td>
            <!-- {% for categoria in categorias %}
            {% if artesano[8] == categoria[0] %}
                <td>{{ categoria[0] }}</td>
                <td>{{ categoria[1] }}</td>
            {% endif %}
            {% endfor %} -->
        </tr>
        {%endfor%}
    </tbody>
</table>
<a href="/create" class="btn btn-dark align-self-end">Nuevo artesano</a>
</div>


{%include 'footer.html'%}
